.notification__popup {
    background: rgba(33, 44, 55, 0.8);
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    vertical-align: baseline;
    margin-bottom: 5px;
    padding: 6px 10px;
    text-shadow: 0 0 2px #000;
    width: 250px;
}
